@import "../../../../src/assets/styles/variables";

video {
  background-color: $dark-main;
  width: 960px;
  height: 540px;
}

.preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-main;
  border-radius: 6px;
  width: 960px;
  height: 540px;
}

.no-preview {
  position: absolute;
  color: $white;
  transform: scale(5);
}

@media screen and (max-width: 1600px) {
  video {
    width: 800px;
    height: 450px;
  }

  .preview {
    width: 800px;
    height: 450px;
  }
}

@media screen and (max-width: 1280px) {
  video {
    width: 640px;
    height: 360px;
  }

  .preview {
    width: 640px;
    height: 360px;
  }
}

@media screen and (max-width: 1024px) {
  video {
    width: 512px;
    height: 320px;
  }

  .preview {
    width: 512px;
    height: 320px;
  }
}

@media screen and (max-width: 768px) {
  video {
    background-color: $dark-main;
    width: 480px;
    height: 272px;
  }

  .preview {
    width: 480px;
    height: 272px;
  }
}
