.preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #161616;
  border-radius: 6px;
  height: 56.25vh;
}

.mat-icon {
  position: absolute;
  transform: scale(6);
}
