video {
  background-color: #161616;
}

.preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #161616;
  border-radius: 6px;
  width: 960px;
  height: 540px;
}
