@import "../../../../src/assets/styles/variables";

.flex {
  display: flex;
  justify-content: space-between;
  margin: 24px;
  gap: 24px;
}

.flex-grow {
  flex-grow: 1;
}

p {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}

@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column-reverse;
    align-items: stretch;
  }
}
