.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 36px;
  padding-right: 36px;
  height: 72px;
  color: #e0e0e0;
  background-color: #161616;
  border-radius: 6px;
}

h1 {
  font-family: "Assistant", sans-serif;
  font-size: 28px;
  font-weight: 800;
  margin: 0;
}

.export {
  width: 120px;
  height: 48px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.export:hover {
  background-color: #ffffff;
}

.export:active {
  background-color: #c0c0c0;
}

a {
  color: #ffcd29;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #f24822;
}
