<div
  cdkDropList
  [cdkDropListData]="mockScenes"
  (cdkDropListDropped)="onDropScene($event)"
  id="scenes"
  cdkDropListSortingDisabled="true"
  class="scenes-container"
>
  <div class="scene" *ngFor="let scene of mockScenes" cdkDrag>
    <div>
      <div
        class="scene-placeholder"
        [style.min-width.px]="60 * scene.duration - 3"
        *cdkDragPlaceholder
      ></div>
      <p class="text-title">{{ scene.title }}</p>
      <p class="text-duration">Duration: {{ scene.duration }}s</p>
    </div>
    <mat-icon (click)="togglePlay(scene)">{{
      videoService.isScenePlaying(scene) ? "pause" : "play_arrow"
    }}</mat-icon>
  </div>
</div>
