<div class="button">
  <button class="play" (click)="togglePlay()" [disabled]="false">
    <p class="play-text">Play</p>
    <mat-icon>{{ isPlaying ? "pause" : "play_arrow" }}</mat-icon>
  </button>
</div>
<div class="button">
  <button class="play" (click)="test()" [disabled]="false">
    <p class="play-text">Resume</p>
    <mat-icon>{{ isPlaying ? "pause" : "play_arrow" }}</mat-icon>
  </button>
</div>
<div class="timeline">
  <div class="timeline-cursor-top" [style.left.px]="4 + cursorPosition"></div>
  <div class="timeline-cursor-line" [style.left.px]="12 + cursorPosition"></div>
  <div class="timeline-top">
    <ng-container
      *ngFor="let i of getSteps(1920 / stepSize); let index = index"
    >
      <p class="timeline-legend" [style.left.px]="index * stepSize">
        {{ i }}
      </p>
    </ng-container>
  </div>
  <div class="timeline-bottom">
    <div class="timeline-content">
      <div
        cdkDropList
        cdkDropListOrientation="horizontal"
        class="timeline-content-horizontal"
        [cdkDropListData]="scenesTimeline"
        (cdkDropListDropped)="onDropScene($event)"
        id="timeline"
      >
        <div class="no-scene-placeholder" *ngIf="scenesTimeline.length === 0">
          <p>Drop a Scene & Start Editing!</p>
        </div>
        <div
          class="scene"
          [style.width.px]="stepSize * scene.duration - 3"
          *ngFor="let scene of scenesTimeline"
          cdkDrag
        >
          <div>
            <div
              class="scene-placeholder"
              [style.min-width.px]="stepSize * scene.duration - 3"
              *cdkDragPlaceholder
            ></div>
            <p class="text-title">{{ scene.title }}</p>
            <p class="text-duration">Duration: {{ scene.duration }}s</p>
          </div>
          <mat-icon (click)="onDeleteScene(scene)">delete</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
