<div class="flex-space-between">
  <div class="flex">
    <button class="zoom">
      <mat-icon (click)="zoomIn()">zoom_in</mat-icon>
    </button>
    <button class="zoom">
      <mat-icon (click)="zoomOut()">zoom_out</mat-icon>
    </button>
  </div>
  <button class="play" (click)="togglePlay()" [disabled]="false">
    <p class="play-text">{{ isPlaying ? "Pause" : "Play" }}</p>
    <mat-icon>{{ isPlaying ? "pause" : "play_arrow" }}</mat-icon>
  </button>
</div>
<div class="play-button"></div>
<div class="timeline-grid">
  <div class="no-scene-placeholder" *ngIf="scenesTimeline.length === 0">
    <p>Drop a Scene & Start Editing!</p>
  </div>
  <div class="timeline-top-bg"></div>
  <div class="timeline-content-bg"></div>
  <div class="timeline-border-left">
    <div class="timeline-border-left-bottom"></div>
  </div>
  <div class="timeline">
    <div class="timeline-cursor-top" [style.left.px]="cursorPosition"></div>
    <div
      class="timeline-cursor-line"
      [style.left.px]="8 + cursorPosition"
    ></div>
    <div class="timeline-top">
      <ng-container *ngFor="let i of getSteps(stepSize); let index = index">
        <p
          *ngIf="zoom >= -3 || index % 5 === 0"
          class="timeline-legend"
          [style.left.px]="10 + index * stepSize"
          [style.padding-right.px]="stepSize / 3"
          [style.padding-left.px]="stepSize / 3"
          (click)="setCursorPosition(index)"
        >
          {{ i }}
        </p>
        <p
          *ngIf="zoom < -3 && index % 5 !== 0"
          class="timeline-legend"
          [style.left.px]="10 + index * stepSize"
          [style.padding-right.px]="stepSize / 3"
          [style.padding-left.px]="stepSize / 3"
          (click)="setCursorPosition(index)"
        >
          &bull;
        </p>
      </ng-container>
    </div>
    <div class="timeline-bottom">
      <div class="timeline-content">
        <div
          cdkDropList
          cdkDropListOrientation="horizontal"
          class="timeline-content-horizontal"
          [style.min-width.px]="38400"
          [cdkDropListData]="scenesTimeline"
          (cdkDropListDropped)="onDropScene($event)"
          id="timeline"
        >
          <div
            class="scene"
            [style.width.px]="stepSize * scene.duration - 3"
            *ngFor="let scene of scenesTimeline"
            cdkDrag
          >
            <div>
              <div
                class="scene-placeholder"
                [style.min-width.px]="stepSize * scene.duration - 3"
                *cdkDragPlaceholder
              ></div>
              <p class="text-title">
                {{
                  scene.title
                    | truncate : (stepSize * scene.duration) / (zoom * zoom + 1)
                }}
              </p>
            </div>
            <mat-icon (click)="onDeleteScene(scene)">delete</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="timeline-border-right">
    <div class="timeline-border-right-bottom"></div>
  </div>
</div>
