$black: #000;
$dark-main: #2d2d2d;
$dark-main-ten: #2d2d2d10;
$dark-secondary: #3f3f3f;

$white: #fff;
$light-main: #e0e0e0;
$light-secondary: #d3d3d3;

$yellow: #ffcd29;
$yellow-fifty: #ffcd2950;
$red: #f24822;
